
.home-page{
	
	position: absolute;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-between;

	height: 100%;
	width: 100%;
}

.home-page__main-container {

	height: 93%;
}

.home-page__footer {
	
	height: 7%;
}
