

.classic-game {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	height: 500px;
	width: 1000px;
}
	
	.classic-game__spawn-letter {

		height: 50px;
		width:  70px;

		margin-bottom: 30px;

		background-color: green;
	}

	.classic-game__given-letters {
		display: grid;
		grid-template: 1fr / repeat(10, 1fr);

		height: 100px;
		width: 1000px;

		margin-bottom: 50px;

		border: #0088FF 5px solid;
		border-radius: 10px;

		background-color: #FBFBCC;
	}


	.classic-game__user-letters {
		display: grid;
		grid-template: 1fr / repeat(10, 1fr);

		height: 100px;
		width: 1000px;

		margin-bottom: 50px;

		border: #0088FF 5px solid;
		border-radius: 10px;

		background-color: #FBFBCC;
	}
