
.home-main-content {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100%;
	width: 100%;
}

	.home-main-content__logo-box {

		margin: 0;
		margin-bottom: 40px;
		padding: 20px;
		
		font-size: 4em;
		font-weight: bold;
		color: #DDDDDD;

		border-radius: 15px;

	    user-select: none; /* supported by Chrome and Opera */
	   	-webkit-user-select: none; /* Safari */
	   	-khtml-user-select: none; /* Konqueror HTML */
	   	-moz-user-select: none; /* Firefox */
	   	-ms-user-select: none; /* Internet Explorer/Edge */

	   	background: #0085FF;
	}

	.home-main-content__play-link {

		padding: 15px;

		font-size: 2em;
		font-weight: bold;
		text-decoration: none;
		color: #222222;

		border-radius: 15px;

		background: #FF8C00;
	}

		.home-main-content__play-link:hover {

			background: #DD6F00;
		}
