
.main-content {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100%;
	width: 100%;
}

	.main-content__logo-box {

		margin: 0px;
		margin-bottom: 40px;
		padding: 20px;
		
		font-size: 4em;
		font-weight: bold;
		color: #DDDDDD;

		border-radius: 15px;

		background: #0085FF;

	}

	.main-content__play-link {

		padding: 15px;

		font-size: 2em;
		font-weight: bold;
		text-decoration: none;
		color: #222222;

		border-radius: 15px;

		background: #FF80BF;
	}

	.main-content__play-link:hover {

		background: #FF508F;
	}
